# OSX
.DS_Store

# Xcode
ios/build/
ios/Pods/
*.xcuserstate

# Android/IntelliJ
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/release/
*.iml
.idea/
android/keystore.properties

# node
node_modules/
npm-debug.log
yarn-error.log

# Metro / RN
.metro-health-check*

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Testing
coverage/

# Env
.env

# Built APKs (not meant to live in git history)
*.apk
